@model IEnumerable<CuaHangThietBiDienTu.Models.User>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<div class="mt-4">
    <h2 class="text-center mb-4 text-primary fw-bold">
        Danh sách khách hàng
    </h2>

    <div class="text-end mb-3">
        <a href="@Url.Action("Create")" class="btn btn-success shadow-sm">
            <i class="fa-solid fa-plus"></i> Thêm khách hàng mới
        </a>
    </div>

    <div class="table-responsive shadow-sm rounded-4">
        <table class="table align-middle text-center ">
            <thead class="table-primary">
                <tr>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>Điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Mật khẩu</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.HoTen</td>
                        <td>@item.NgaySinh</td>
                        <td>@item.GioiTinh</td>
                        <td>@item.DienThoai</td>
                        <td>@item.Email</td>
                        <td>@item.DiaChi</td>
                        <td>@item.MatKhau</td>
                        <td>
                            <div class="d-flex justify-content-center gap-2">
                                <a href="@Url.Action("Edit", new { id = item.MaNguoiDung })" class="btn btn-outline-primary btn-sm">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <a href="@Url.Action("Details", new { id = item.MaNguoiDung })" class="btn btn-outline-info btn-sm">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.MaNguoiDung })" class="btn btn-outline-danger btn-sm"
                                   onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này không?');">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
